h1{
	color:red;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    font-size: 0.7em;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 0.7em;
}

.btn {
    font-size: 0.7em;
    font-weight:bold;
}